body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#restart {
    position: absolute;
    top: 60%;
    cursor: pointer;
    border-radius: 50%;
    background: url(images/restart.png);
    width: 128px;
    height: 128px;
    background-size: 100%;
    display: none;
    opacity: 0;
    transition: all .3s;
}

#restart.show {
    display: block;
    animation: rotate 1s ease-in-out .75s forwards, show 1s ease-in-out forwards;
}

#restart.show:hover {
    width: 136px;
    height: 136px;
}

@keyframes show {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
     }
     to {
        transform: rotate(360deg);
      }
}

#score-bar {
    width: 600px;
    height: 3rem;
    display: flex;
    background-color: #222;
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
}

#score-bar > * {
    flex-basis: 2rem;
    flex-grow: 1;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
